.page-head {
  font-size: 2em;
  @media (min-width: $tablet-port-width) {
    font-size: 2.4em;
  }
  position: relative;

  .edit {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 28px;
    padding: 0 10px;
    line-height: 40px;
    &:hover {
      background: #eeeeee;
      border-radius: 3px;
    }
  }
}

.modal-full {
  position: fixed;
  background-color: rgba(0, 0, 0, .6);
  top: -10px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  transition: transform .15s ease-in-out, opacity .15s ease-in-out;

  &.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate3d(0, 10px, 0);
  }

  .modal-dialog {
    z-index: 2;
    box-sizing: border-box;
    width: 90%;
    @media (min-width: $mobile-land-width) {
      width: 80%;
    }
    max-width: 600px;
    margin: 60px auto;
    @media (min-width: $tablet-port-width) {
      margin: 160px auto;
    }
    padding: 40px 30px;
    @media (min-width: $tablet-port-width) {
      padding: 40px 100px 50px 100px;
    }
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);

    &.large {
      margin: 0 auto 0 auto;
      overflow: auto;
      width: $port-mobile-container;
      @media (min-width: $mobile-land-width) {
        margin: 80px auto;
        width: 70%;
        max-height: calc(100vh - 160px);
        max-width: $land-mobile-container;
      }
      @media (min-width: $tablet-port-width) {
        max-width: $port-tablet-container;
      }
      @media (min-width: $tablet-land-width) {
        max-width: $land-tablet-container;
      }
      @media (min-width: $desktop-width) {
        max-width: $desktop-container;
      }
    }

    .modal-title {
      text-align: center;
      margin-bottom: 30px;
    }

    .message {
      font-size: 15px;
    }

    input {
      display: block;
      width: 100%;
      margin: 20px 0;
      padding: 0.8em 1em;
      font: inherit;
    }

    .modal-btn-group {
      position: relative;
      > * {
        float: left;
      }
      padding-top: 45px;
      button {
        width: 100%;
        margin-bottom: 20px;
        line-height: 48px;
        @media (min-width: $tablet-port-width) {
          width: 180px;
          &:first-child {
            float: left;
          }
          &:last-child {
            float: right;
          }
        }
      }
      .msg {
        position: absolute;
        top: 0;
        width: 100%;
        font-size: 17px;
        text-align: center;
      }
      &::after {
        content: "";
        clear: both;
        display: block;
      }
    }
    .modal-one-btn {
      text-align: center;
      position: relative;
      padding-top: 45px;
      .msg {
        position: absolute;
        top: 0;
        width: 100%;
        font-size: 17px;
        text-align: center;
      }
    }
  }
}

.search-area {
  padding: 40px 0;
  @media (min-width: $mobile-land-width) {
    padding: 40px 0 60px 0;
  }
  margin-bottom: 50px;
  background: #ffffff;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(0, 0, 0, 0.05);
  h1 {
    font-size: 2em;
    @media (min-width: $tablet-port-width) {
      font-size: 2.8em;
    }
    margin-bottom: 12px;
  }
  h3 {
    font-size: 1em;
    @media (min-width: $tablet-port-width) {
      font-size: 1.3em;
    }
    margin-bottom: 30px;
  }

  .search-type {
    width: 71%;
    margin: 0 auto;
    padding-bottom: 25px;
    text-align: left;
    span {
      cursor: pointer;
      margin-right: 15px;
      font-size: 17px;
      padding: 0 3px 5px 3px;
      &:hover, &.active {
        border-bottom: 2px solid #CE2F42;
      }
    }
  }

  .search-inputs {
    width: 71%;
    margin: 0 auto;
    @media (min-width: $tablet-land-width) {
      box-shadow: 0 1px 3px 0 #dce0e0;
    }
    border-radius: 4px;
    > * {
      margin-bottom: 18px;
      width: 100%;
      @media (min-width: $tablet-land-width) {
        margin-bottom: 0;
      }
    }
    :first-child {
      @media (min-width: $tablet-land-width) {
        width: 90%;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    //:nth-child(2) {
    //  @media (min-width: $tablet-land-width) {
    //    width: 30%;
    //    border-radius: 0;
    //    border-right: none;
    //  }
    //}
    :last-child {
      @media (min-width: $tablet-land-width) {
        width: 10%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    input {
      padding: 16px 19px;
      max-width: unset;
      height: 53px;
      font: inherit;
      font-size: 16px;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      &:focus {
        outline: none;
        border: 1px solid #FF5A5F;
      }
    }

    button {
      padding: 0 10px;
      font-size: 16px;
      height: 53px;
      border: none;
      background: #ff4146;
      font-weight: 400;
      vertical-align: top;
      color: #ffffff;

      &:hover {
        background: #ff6a6f;
      }
    }
  }
}

.mce-panel {
  button {
    border: unset !important;
  }
  input[type='file'] {
    border: 1px solid transparent;
  }
}

.rich-text-editor {
  span {
    all: initial !important;
    font-family: 'Open Sans', sans-serif !important;
  }
  div[role=toolbar] {
    #mceu_2-open {
      padding: 1px 5px !important;
    }
    .mce-txt {
      font-size: 14px !important;
    }
  }
  #react-tinymce-1_ifr {
    font-family: 'Open Sans', sans-serif !important;
  }
}

.rich-text {
  h1 {
    font-size: 2em !important;
    margin: 18px 0 !important;
  }
  h2 {
    margin: 16px 0 !important;
  }
  img {
    max-width: 100%;
  }
}

.pagination {
  text-align: center;
  user-select: none;
  .page-list {
    display: inline-block;
    vertical-align: bottom;
    line-height: 28px;
    li {
      cursor: pointer;
      font-size: 18px;
      display: inline-block;
      padding: 0 5px;
      margin: 0 4px;
      &:hover, &.active {
        font-weight: 400;
        border: 1px solid $theme-blue;
        border-radius: 3px;
      }
    }
  }
  i {
    //line-height: 28px;
    //padding: 0 3px;
    //&:hover {
    //  color: $blue-theme;
    //  background-color: #eeeeee;
    //  border-radius: 3px;
    //}
    //&:first-child {
    //  float: left;
    //}
    //&:last-child {
    //  float: right;
    //}
  }
}
