$theme-primary:    #F05F40;
$gray-dark:        #333;
$gray:             #555;

$theme-red: #CE2F42;
$theme-green: #00ab6b;
$theme-blue: #3b5998;

$fuse-gray: #aeaeae;
$fuse-gray1: #adbdc1;
$fuse-blue: #5185b5;
$fuse-blue1: #3b5998;
$fuse-red: #d9534f;
$fuse-blue2: #3e63b2;

$filter-width: 260px;
