/*

RESPONSTABLE 2.0 by jordyvanraaij
  Designed mobile first!

*/

// Default options for table style
$table-breakpoint: 480px;
$table-background-color: #FFF;
$table-text-color: #024457;
$table-outer-border: 1px solid #5185B5;
$table-cell-border: 1px solid #D9E4E6;

// Extra options for table style (parse these arguments when including your mixin)
$table-border-radius: 10px;
$table-highlight-color: #ffffff;
$table-header-background-color: #5185B5;
$table-header-text-color: #FFF;
$table-header-border: 1px solid #D9E4E6;

// The Responstable mixin

@mixin responstable(
  $breakpoint: $table-breakpoint,
  $background-color: $table-background-color,
  $text-color: $table-text-color,
  $outer-border: $table-outer-border,
  $cell-border: $table-cell-border,
  $border-radius: none,
  $highlight-color: none,
  $header-background-color: $table-background-color,
  $header-text-color: $table-text-color,
  $header-border: $table-cell-border) {

  table {
    border-collapse: collapse;
  }

  .responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: $background-color;
    //color: $text-color;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    tr {
      border: $cell-border;
      &:nth-child(odd) { // highlight the odd rows with a color
        background-color: $highlight-color;
      }
    }

    th2 {
      display: none; // hide all the table header for mobile
      border: $header-border;
      background-color: $header-background-color;
      color: $header-text-color;
      padding: 1em;
      width: 20em;
      &:first-child { // show the first table header for mobile
        display: table-cell;
        text-align: center;
      }
      &:nth-child(2) { // show the second table header but replace the content with the data-th from the markup for mobile
        display: table-cell;
        span {
          display: none;
        }
        &:after {
          content: attr(data-th);
        }
      }
      @media (min-width: $breakpoint) {
        &:nth-child(2) { // hide the data-th and show the normal header for tablet and desktop
          span {
            display: block;
          }
          &:after {
            display: none;
          }
        }
      }
    }

    td2 {
      display: block; // display the table data as one block for mobile
      word-wrap: break-word;
      max-width: 7em;
      &:first-child {
        display: table-cell; // display the first one as a table cell (radio button) for mobile
        text-align: center;
        border-right: $cell-border;
      }
      @media (min-width: $breakpoint) {
        border: $cell-border;
      }
    }

    th {
      display: none; // hide all the table header for mobile
      border: $header-border;
      background-color: $header-background-color;
      color: $header-text-color;
      font-size: 18px;
      padding: 1em;
      &:first-child { // show the first table header for mobile
        display: table-cell;
        text-align: center;
      }
      &:nth-child(2) { // show the second table header but replace the content with the data-th from the markup for mobile
        display: table-cell;
        span {
          display: none;
        }
        &:after {
          content: attr(data-th);
        }
      }
      @media (min-width: $breakpoint) {
        &:nth-child(2) { // hide the data-th and show the normal header for tablet and desktop
          span {
            display: block;
          }
          &:after {
            display: none;
          }
        }
      }
    }

    td {
      display: block; // display the table data as one block for mobile
      word-wrap: break-word;
      //max-width: 7em;
      &:first-child {
        display: table-cell; // display the first one as a table cell (radio button) for mobile
        text-align: center;
        border-right: $cell-border;
      }
      @media (min-width: $breakpoint) {
        border: $cell-border;
      }
    }

    th, td {
      text-align: center;
      margin: .5em 1em;
      @media (min-width: $breakpoint) {
        display: table-cell; // show the table as a normal table for tablet and desktop
        padding: 1em;
      }
    }

    th2, td2 {
      text-align: left;
      margin: .5em 1em;
      @media (min-width: $breakpoint) {
        display: table-cell; // show the table as a normal table for tablet and desktop
        padding: 1em;
      }
    }
  }
}

// Include the mixin (with extra options as overrides)

@include responstable(
  $border-radius: $table-border-radius,
  $highlight-color: $table-highlight-color,
  $header-background-color: $table-header-background-color,
  $header-text-color: $table-header-text-color,
  $header-border: $table-header-border);

// General styles

.feedback {

  margin: 0;
  height: 500px;
  overflow: hidden;

  iframe{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    border:0;
  }
}



#users {
  //margin-top: 50px;
  border-radius: 0.25em;
  //padding: 20px;
  //height: 500px;

  body {
    padding: 0 2em;
    font-family: Arial, sans-serif;
    color: #024457;
    background: #f2f2f2;
  }

  h1 {
    font-weight: 300;
    color: #353535;
    font-size: 2.8em;
    padding-top: 0;
    padding-bottom: 20px;
    text-align: center;
    margin: 0;
  }

  input {
    margin: 10px 0;
    color: $gray-dark;
    font-weight: 400;
  }

  .table-section {
    background: #0F1012;
    color: #f9f9f9;
    box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.8);

    table {
      font-weight: 400;
      tr {

      }
      .toggle {
        display: none;
      }
      .toggle:target {
        display: table-row;
      }
    }
  }
  a {
    padding: 0 5px;
    line-height: 25px;
  }

  .avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 8px;

  }

  td {
    &:first-child {
      width: 20%;
    }
    &:nth-child(2) {
      //width: 25%;
    }
  }
}

